<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ma super interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <p class="jumbotron">
            login : <input type="text" v-model="user" /> Vous etes connecte en
            tant que {{user}}
          </p>
        </div>
        <h1 class="display-4">PRoduits commandés</h1>

        <!-- <ul>
                    <li v-for="commande in commandes">{{ commande }}</li>
                </ul> -->
        <div class="row">
          <fiche-produit
            v-for="commande in commandes"
            v-bind:nom="commande"
            role="recap"
          ></fiche-produit>
        </div>

        <h1 v-bind:class="affichage">produits disponibles</h1>
        <div class="row">
          <fiche-produit
            v-for="produit in produits"
            v-bind:nom="produit"
            text="Commander"
            v-on:commande-passee="commander"
            role="commande"
          ></fiche-produit>

          <!-- <div class="col-3" v-for="produit in produits">
            <p class="jumbotron">
              {{ produit }} <br />
              <button v-on:click="commander(produit)">Commander</button>
            </p>
          </div> -->
        </div>
      </div>
      {{user}}
    </div>
    <script>
      Vue.component("fiche-produit", {
        template: ` <div class="col-3"> <p class="jumbotron"> {{ nom }} <br>
                    <div v-if="role =='commande'">
                        <button v-on:click="passer_commande(nom)" >{{text}}</button>
                    </div>
                    <div v-else >
                        pas de commande
                    </div>
                    </p> </div>`,

        props: ["nom", "role", "text"],
        methods: {
          passer_commande: function (produit) {
            this.$emit("commande-passee", produit);
            console.log("component", produit);
          },
        },
      });

      var app = new Vue({
        el: "#app",
        data: {
          user: "Bertrand",
          produits: ["Prisca", "Hamburger", "Cheeseburger", "Tacos"],
          commandes: [],
          affichage: "display-1",
        },
        methods: {
          commander: function (produit) {
            console.log(produit);
            this.commandes.push(produit);
          },
        },
      });
    </script>
  </body>
</html>
